<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Benutzer
        <button class="btn btn-primary pull-right" ng-click="addUserModal()">Nutzer Hinzufügen</button>
      </h1>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Suche" ng-model="textSearch" my-enter="search(textSearch)">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Rolle</th>
          <th class="text-center">Active</th>
          <th class="text-center">Admin</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users.users">
          <td>
            {{user.name}}
          </td>
          <td>
            {{user.email}}
          </td>
          <td>
            {{user.role}}
          </td>
          <td class="text-center">
            <i class="fa cursor-pointer" ng-class="user.active ? 'fa-square text-success' : 'fa-square-o text-success'"
               ng-click="activeUser(user)"></i>
          </td>
          <td class="text-center">
            <i class="fa cursor-pointer"
               ng-class="user.role=='admin' ? 'fa-square text-primary' : 'fa-square-o text-primary'"
               ng-click="adminUser(user)"></i>
          </td>
          <td>
            <a ng-click="editUserModal(user)" class="trash cursor-pointer"><i class="fa fa-pencil"></i></a>

          </td>
          <td>
            <a ng-click="delete(user.name, user)" class="trash cursor-pointer"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <pagination total-items="users.count"
                  items-per-page="15"
                  ng-model="currentPage"
                  max-size="5"
                  ng-change="changePage()"
                  class="pagination-sm"
                  boundary-links="true"
                  previous-text="&lsaquo;"
                  next-text="&rsaquo;"
                  first-text="&laquo;"
                  last-text="&raquo;"
                  du-smooth-scroll
      >
      </pagination>
    </div>
  </div>
</div>

<div ng-include="'components/navbar/footer.html'"></div>
