<div class="modal-header">
  <button type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 class="modal-title">Benutzer</h4>
</div>
<form method="post">
  <div class="modal-body">

    <form class="form" name="form" novalidate>

      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
        <label>Name*</label>

        <input type="text" name="name" class="form-control" ng-model="user.name" autocomplete="off"
               required/>
        <p class="help-block" ng-show="form.name.$error.required && submitted">
          Der Name ist ein Pflichtfeld
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
        <label>Email*</label>

        <input type="email" name="email" class="form-control" ng-model="user.email" autocomplete="off"
               required
               mongoose-error/>
        <p class="help-block" ng-show="form.email.$error.email && submitted">
          Keine gültige Mail Adresse
        </p>
        <p class="help-block" ng-show="form.email.$error.required && submitted">
          Wie ist deine Mail Adresse?
        </p>
        <p class="help-block" ng-show="form.email.$error.mongoose">
          {{ errors.email }}
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
        <label>Passwort*</label>

        <input type="text" name="password" class="form-control" ng-model="user.password"
               ng-minlength="3" autocomplete="off"
               required
               mongoose-error/>
        <p class="help-block"
           ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
          Passwort muss mindestens 3 Zeichen lang sein.
        </p>
        <p class="help-block" ng-show="form.password.$error.mongoose">
          {{ errors.password }}
        </p>
      </div>
    </form>


  </div>
  <div class="modal-footer">
    <span class="text-sm text-muted pull-left">* Pflichtfeld</span>
    <button class="btn btn-primary" ng-click="register(user)" ng-disabled="!user.name || !user.email || !user.password">
      Speichern
    </button>
    <button class="btn btn-default" ng-click="$dismiss()">Abbrechen</button>
  </div>
</form>
