<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <tabset justified="true">
        <!-- TAB LOCATION -->
        <tab heading="Einsatzort" ng-if="!isAdmin()" active="true">
          <div class="spacer20"></div>

          <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
              <form class="form-inline">
                <div class="form-group">
                  <label class="control-label " for="Ort">
                    Hier kannst du dein aktuellen Einsatzort definieren. Sobald du deinen Einsatzort hinzugefügt hast, wirst du automatisch ausgeloggt. Danach kannst du dich wieder einloggen.
                  </label>
                  <div class="spacer5"></div>
                  <div class="input-group">
                    <input type="text" id="Ort" ng-model="member.location" name="location" placeholder="Ort suchen"
                           typeahead="location as location.name for location in locations.locations | filter:$viewValue | limitTo:8"
                           class="form-control"
                           ng-disabled="member.location._id" autocomplete="off" required>
                    <div class="input-group-addon cursor-pointer" ng-click="reset()"><i class="fa fa-trash-o"></i></div>
                  </div>
                </div>
                <div class="spacer15"></div>
                <button class="btn btn-primary btn-block" type="submit" ng-disabled="!member.location._id" ng-click="changeLocation(member.location)">Einsatzort speichern</button>
              </form>
            </div>
          </div>
        </tab>

        <!-- TAB SETTINGS -->
        <tab heading="Passwort">
          <div class="row">
            <div class="ol-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
              <div class="spacer20"></div>
              <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

                <div class="form-group">
                  <label>Hier kannst du dein Passwort ändern</label>

                  <input type="password" name="password" class="form-control" ng-model="user.oldPassword" autocomplete="off"
                         mongoose-error/>
                  <p class="help-block" ng-show="form.password.$error.mongoose">
                    {{ errors.other }}
                  </p>
                </div>

                <div class="form-group">
                  <label>Neues Passwort wiederholen</label>

                  <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                         ng-minlength="3"
                         required autocomplete="off"/>
                  <p class="help-block"
                     ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                    Passwort muss mindestens 3 Zeichen lang sein.
                  </p>
                </div>

                <p class="help-block"> {{ message }} </p>

                <button class="btn btn-primary btn-block" type="submit">Änderung speichern</button>
              </form>
            </div>
          </div>
        </tab>

      </tabset>
    </div>
  </div>
</div>
<div class="spacer50"></div>
<div ng-include="'components/navbar/footer.html'"></div>
