<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <div class="row">
    <div class="col-lg-6 col-md-6">
      <h2>{{article.name}}</h2>

      <div class="spacer20"></div>
      <label class="btn btn-primary pull-right" ng-model="editMode" ng-show="isAdmin" btn-checkbox>Editieren</label>
      <button class="btn btn-danger pull-right mar-rgt" ng-disabled="!editMode" ng-click="delete(article.name, article)"
              ng-show="isAdmin">Löschen
      </button>
      <div class="spacer20"></div>
      <form method="post">
        <div class="form-group">
          <label class="control-label " for="name">
            Name des Artikels
          </label>
          <input class="form-control" id="name" name="name" type="text" ng-model="article.name"
                 ng-disabled="!editMode"/>
        </div>
        <div class="form-group ">
          <label class="control-label " for="description">
            Beschreibung
          </label>
          <input class="form-control" id="description" name="name" type="text" ng-model="article.description"
                 ng-disabled="!editMode"/>
        </div>
        <div class="form-group ">
          <label class="control-label " for="info">
            Inhaltsstoffe
          </label>
          <input class="form-control" id="info" name="text3" type="text" ng-model="article.ingredients"
                 ng-disabled="!editMode"/>
        </div>
        <div class="form-group">
          <div>
            <input name="_honey" style="display:none" type="text"/>
            <button class="btn btn-primary " name="submit" type="submit" ng-click="editArticle(article)"
                    ng-disabled="!editMode" ng-show="isAdmin">
              Speichern
            </button>
            <button class="btn btn-primary pull-right" name="submit" type="submit" ng-click="addResourceModal(article)"
                    ng-show="isAdmin">
              Diesen Artikel zuweisen
            </button>
          </div>
        </div>
      </form>

    </div>
    <div class="col-lg-6 col-md-6">
      <h2>Übersicht</h2>
      <div class="spacer70 hidden-sm hidden-xs"></div>
      <table class="table">
        <tbody>
        <tr>
          <td class="text-bold text-lg text-muted cursor-default">Lagerbestant Ist</td>
          <td class="text-bold text-lg text-danger cursor-default">{{resources.allcounts}}</td>
        </tr>
        <tr>
          <td class="text-bold text-lg text-muted cursor-default">Lagerbestant Soll </td>
          <td class="text-bold text-lg text-danger cursor-default">{{resources.allquotas}}</td>
        </tr>
        <tr>
          <td class="text-bold text-lg text-muted cursor-default">Anzahl der Zugewisenen</td>
          <td class="text-bold text-lg  cursor-default">{{resources.count}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th><i class="fa fa-map-marker"></i> Ort</th>
          <th><i class="fa fa-calendar"></i> Datum</th>
          <th><i class="fa fa-list-ol"></i> Anzahl</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr  ng-repeat="resource in resources.resources">
          <td><a href="locations/{{resource.location._id}}">{{resource.location.name}}</a></td>
          <td>{{resource.added | date: 'dd.mm.yyyy'}}</td>
          <td><progressbar class="progress-striped" value="resource.count | percentage:resource.quota" type="{{(resource.count | percentage:resource.quota) | percentageValue}}">{{resource.count}}/{{resource.quota}}</progressbar></td>
          <td><button class="btn btn-link" ng-click="deleteResource('die ' + resource.location.name + ' zuweisung', resource)"><i class="fa fa-trash-o"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
