<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1> Artikel <button class="btn btn-primary pull-right" ng-click="addArticleModal()">Artikel Hinzufügen</button></h1>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Suche" ng-model="textSearch" my-enter="search(textSearch)">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Beschreibung</th>
          <th>Inhaltsstoffe</th>
        </tr>
        </thead>
        <tbody>
        <tr  ng-repeat="article in articles.articles | filter: filter" class="cursor-pointer" ng-click="goToDetail(article)">
          <td>{{article.name}}</td>
          <td><span class="text-muted">{{article.description}}</span></td>
          <td><span class="text-muted">{{article.ingredients}}</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <pagination total-items="articles.count"
                  items-per-page="15"
                  ng-model="currentPage"
                  max-size="5"
                  ng-change="changePage()"
                  class="pagination-sm"
                  boundary-links="true"
                  previous-text="&lsaquo;"
                  next-text="&rsaquo;"
                  first-text="&laquo;"
                  last-text="&raquo;"
                  du-smooth-scroll
      >
      </pagination>
    </div>
  </div>
</div>

<div ng-include="'components/navbar/footer.html'"></div>

