<div class="modal-header">
  <button type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 class="modal-title">Artikel Hinzufügen</h4>
</div>
<form method="post">
  <div class="modal-body">
    <div class="form-group ">
      <label class="control-label " for="name">
        Name*
      </label>
      <input type="text" id="name" ng-model="article.name" placeholder="Name" class="form-control" autocomplete="off">
    </div>

    <div class="form-group ">
      <label class="control-label " for="description">
        Beschreibung*
      </label>
      <input type="text" id="description" ng-model="article.description" placeholder="Beschreibung" autocomplete="off"
             class="form-control">
    </div>

    <div class="form-group ">
      <label class="control-label " for="ingredients">
        Inhaltsstoffe
      </label>
      <input type="text" id="ingredients" ng-model="article.ingredients" placeholder="Inhaltsstoffe" autocomplete="off"
             class="form-control">
    </div>
  </div>
  <div class="modal-footer">
    <span class="text-sm text-muted pull-left">* Pflichtfeld</span>
    <button class="btn btn-primary" ng-click="ok(article)" ng-disabled="!article.name || !article.description">
      Hinzufügen
    </button>
    <button class="btn btn-default" ng-click="$dismiss()">Abbrechen</button>
  </div>
</form>
