@import 'bootstrap/less/bootstrap.less';

@import 'styles/variables.less';
@import 'styles/wws.less';
@import 'styles/helper-classes.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'article/article.less';
@import 'home/home.less';
@import 'impressum/impressum.less';
@import 'info/info.less';
@import 'location/location.less';
@import 'main/main.less';
@import 'styles/custom.less';
@import 'styles/helper-classes.less';
@import 'styles/variables.less';
@import 'styles/wws.less';
@import 'userlocation/userlocation.less';
@import 'modal/modal.less';
// endinjector
