<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Infos <button class="btn btn-primary pull-right" ng-click="addInfoModal()">Info hinzufügen</button></h1>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Titel</th>
          <th>Hinzugefügt</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr  ng-repeat="info in infos.infos">
          <td><img ng-if="info.category" ng-src="assets/images/icons/{{info.category}}.svg"></td>
          <td>{{info.title}}</td>
          <td><span class="text-muted">{{info.added | date: 'dd.MM.yyyy HH:mm'}}</span></td>
          <td> <button class="btn btn-link pull-right" ng-click="deleteInfo('die Info' + info.title, info)"><i
            class="fa fa-trash-o"></i></button>
            <button class="btn btn-link pull-right" ng-click="editInfoModal(info)"><i
              class="fa fa-pencil"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <pagination total-items="infos.count"
                  items-per-page="15"
                  ng-model="currentPage"
                  max-size="5"
                  ng-change="changePage()"
                  class="pagination-sm"
                  boundary-links="true"
                  previous-text="&lsaquo;"
                  next-text="&rsaquo;"
                  first-text="&laquo;"
                  last-text="&raquo;"
                  du-smooth-scroll
      >
      </pagination>
    </div>
  </div>
</div>
<div class="spacer20"></div>

<div ng-include="'components/navbar/footer.html'"></div>
