<div class="modal-header">
  <button type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 class="modal-title">
    <img ng-if="data.repeatSelect" src="{{data.path}}{{data.repeatSelect}}.svg" class="pad-rgt pad-lft">  Information</h4>
</div>
<form method="post">
  <div class="modal-body">
    <div class="form-group">
      <label for="title">Titel*</label>
      <input type="text" class="form-control" id="title" placeholder="Überschrift" ng-model="info.title">
    </div>
    <div class="form-group">
      <label for="info">Infotext</label>
      <textarea id="info" class="form-control" placeholder="Infotext" ng-model="info.infotext"></textarea>
    </div>

    <div class="form-group">
      <label for="category">Icon</label>
      <select name="repeatSelect" id="category" ng-model="data.repeatSelect" class="form-control">
        <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <span class="text-sm text-muted pull-left">* Pflichtfeld</span>
    <button class="btn btn-primary" type="submit" ng-click="ok(info)" ng-disabled="!info.title">
      Speichern
    </button>
    <button class="btn btn-default" ng-click="$dismiss()">Abbrechen</button>
  </div>
</form>
