.thing-form {
  margin: 20px 0;
}

.footer {
    text-align: center;
    padding: 30px 0;
    //margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.pieChart {
  width: 100px !important;
  height: 100px !important;
}
