<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <button type="button" class="btn btn-default" ng-click="showStat = !showStat">Statistik anzeigen</button>
  <hr>
  <div collapse="!showStat">
    <div class="row">
      <div class="col-md-4 col-md-offset-2 col-xs-6 col-xs-offset-3">
        <div class="spacer30 hidden-sm hidden-xs"></div>
        <h1 class="text-danger text-center">Lagerbestand</h1>
        <progressbar class="progress-striped" value="stockDatas[0].value"
                     type="info">
          {{stockDatas[0].value}}%
        </progressbar>
        <div class="spacer20"></div>
      </div>
      <div class="col-md-4">
        <div class="spacer35"></div>
        <table class="table">
          <tbody>
          <tr>
            <td class="text-bold text-lg text-muted cursor-default">Lagerbestand Ist</td>
            <td class="text-bold text-lg text-danger cursor-default">{{resources.allcounts}}</td>
          </tr>
          <tr>
            <td class="text-bold text-lg text-muted cursor-default">Lagerbestand Soll</td>
            <td class="text-bold text-lg text-danger cursor-default">{{resources.allquotas}}</td>
          </tr>
          <tr>
            <td class="text-bold text-lg text-muted cursor-default">Anzahl der Zugewisenen</td>
            <td class="text-bold text-lg text-danger cursor-default">{{resources.count}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1> Übersicht
        <button class="btn btn-primary pull-right" ng-click="addResourceModal()">Neue Zuweisung</button>
      </h1>
      <input type="text" class="form-control mar-top mar-btm" placeholder="Filter" ng-model="filter">
      <table class="table table-striped">
        <thead>
        <tr>
          <th><i class="fa fa-map-marker"></i> Ort</th>
          <th><i class="fa fa-tag"></i> Artikel</th>
          <th><i class="fa fa-list-ol"></i> Anzahl</th>
          <th><i class="fa fa-calendar"></i> Datum</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="resource in resources.resources | filter: filter">
          <td><a href="locations/{{resource.location._id}}">{{resource.location.name}}</a></td>
          <td><a href="articles/{{resource.article._id}}">{{resource.article.name}}</a></td>
          <td>
            <progressbar class="progress-striped" value="resource.count | percentage:resource.quota"
                         type="{{(resource.count | percentage:resource.quota) | percentageValue}}">
              {{resource.count}}/{{resource.quota}}
            </progressbar>
          </td>
          <td class="text-muted">{{resource.added | date: 'dd.MM.yyyy HH:mm'}}</td>
          <td>
            <button class="btn btn-link" ng-click="delete('die ' + resource.location.name + ' zuweisung', resource)"><i
              class="fa fa-trash-o"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-12 text-center">
      <pagination total-items="resources.count"
                  items-per-page="15"
                  ng-model="currentPage"
                  max-size="5"
                  ng-change="changePage()"
                  class="pagination-sm"
                  boundary-links="true"
                  previous-text="&lsaquo;"
                  next-text="&rsaquo;"
                  first-text="&laquo;"
                  last-text="&raquo;"
                  du-smooth-scroll
      >
      </pagination>
    </div>
  </div>
</div>
<div ng-include="'components/navbar/footer.html'"></div>
