<div class="modal-header">
  <button type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 class="modal-title">Kontingent verändern</h4>
</div>
<form name="resourceForm" ng-submit="edit(param)" novalidate>
  <div class="modal-body">
    <div ng-if="param" class="form-group text-center">
      <label class="control-label">
        <div class="spacer20"></div>
        <p>Artikel: <span class="text-primary">{{param.article.name}}</span></p>
        <p>Ort: <span class="text-primary">{{param.location.name}}</span></p>
      </label>
    </div>

    <div class="form-group" ng-class="{'has-error':resourceForm.count.$error.number}">
      <label class="control-label " for="count">Anzahl</label>
      <input type="number" id="count" ng-model="param.count" name="count" placeholder="Anzahl" class="form-control"
             min="1"
             max="9999" autocomplete="off" required>
      <span id="countBlock" class="help-block" ng-show="resourceForm.count.$error.number">Bitte geben Sie eine Artikelanzahl zwischen 1 und 9999 an.</span>
    </div>

    <div class="form-group" ng-class="{'has-error':resourceForm.quota.$error.number}">
      <label class="control-label " for="count">Kontingent</label>
      <input type="number" id="quota" ng-model="param.quota" name="quota" placeholder="Kontingent" class="form-control"
             min="1"
             max="9999" autocomplete="off" required>

      <span id="quotaBlock" class="help-block" ng-show="resourceForm.count.$error.number">Bitte geben Sie eine Kontingentzahl.ö zwischen 1 und 9999 an.</span>
    </div>
    <!--
        <div class="form-group" ng-class="{'has-error':resourceForm.quota.$error.number || resourceForm.quota.$error.min}">
          <label class="control-label " for="quota">4. Kontingent</label>
          <input type="number" id="quota" ng-model="resource.quota" name="quota" placeholder="Kontingent" class="form-control" min="{{resource.count}}"
                 max="9999" autocomplete="off" required>
          <span id="quotaBlock" class="help-block" ng-show="resourceForm.quota.$error.number || resourceForm.quota.$error.min">Bitte geben Sie den Kontingent zwischen {{resource.count}} und 9999 an.</span>

        </div>
        -->

  </div>
  <div class="modal-footer">
    <span class="text-sm text-muted pull-left">* Pflichtfeld</span>
    <button class="btn btn-primary" type="submit" ng-disabled="!resourceForm.$valid">Ändern</button>
    <a class="btn btn-default" ng-click="$dismiss()">Abbrechen</a>
  </div>
</form>
