<div class="modal-header">
  <button type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 class="modal-title">Artikel zuweisen</h4>
</div>
<form name="resourceForm" ng-submit="ok(resource)" novalidate>
  <div class="modal-body">
    <div class="row mar-all">
      <div class="col-xs-4 text-right"><i class="fa fa-archive fa-4x text-muted"></i></div>
      <div class="col-xs-4 text-center"><i class="fa fa-long-arrow-right fa-4x text-muted"></i></div>
      <div class="col-xs-4 text-left"><i class="fa fa-home  fa-4x text-muted"></i>
      </div>
    </div>

    <div ng-if="param" ng-init="resource.article._id = param._id" class="form-group text-center">
      <label class="control-label " for="resource">
        <div class="spacer20"></div>
        <h4>{{param.name}}</h4>
      </label>
    </div>

    <div ng-if="!param" class="form-group">
      <label class="control-label " for="resource">
        1. Artikel*
      </label>
      <input type="text" id="resource" ng-model="resource.article" name="article" placeholder="Artikel suchen"
             typeahead="article as article.name for article in articles | filter:$viewValue | limitTo:8"
             class="form-control"
             ng-disabled="resource.article._id" autocomplete="off" required>
    </div>
    <div class="form-group" novalidate>
      <label class="control-label " for="Ort">
        2. Ort*
      </label>
      <input type="text" id="Ort" ng-model="resource.location" name="location" placeholder="Ort suchen"
             typeahead="location as location.name for location in locations | filter:$viewValue | limitTo:8"
             class="form-control"
             ng-disabled="resource.location._id" autocomplete="off" required>
    </div>

    <div class="form-group" ng-class="{'has-error':resourceForm.count.$error.number}">
      <label class="control-label " for="count">3. Anzahl</label>
      <input type="number" id="count" ng-model="resource.count" name="count" placeholder="Anzahl" class="form-control"
             min="1"
             max="9999" autocomplete="off" required>
      <p ng-show="resourceForm.number.$invalid" class="help-block">You name is required.</p>


      <span id="countBlock" class="help-block" ng-show="resourceForm.count.$error.number">Bitte geben Sie eine Artikelanzahl zwischen 1 und 9999 an.</span>
    </div>
    <!--
        <div class="form-group" ng-class="{'has-error':resourceForm.quota.$error.number || resourceForm.quota.$error.min}">
          <label class="control-label " for="quota">4. Kontingent</label>
          <input type="number" id="quota" ng-model="resource.quota" name="quota" placeholder="Kontingent" class="form-control" min="{{resource.count}}"
                 max="9999" autocomplete="off" required>
          <span id="quotaBlock" class="help-block" ng-show="resourceForm.quota.$error.number || resourceForm.quota.$error.min">Bitte geben Sie den Kontingent zwischen {{resource.count}} und 9999 an.</span>

        </div>
        -->

  </div>
  <div class="modal-footer">
    <span class="text-sm text-muted pull-left">* Pflichtfeld</span>
    <button class="btn btn-primary" type="submit" ng-disabled="!resourceForm.$valid">Hinzufügen</button>
    <a class="btn btn-default" ng-click="$dismiss()">Abbrechen</a>
  </div>
</form>
