<div ng-include="'components/navbar/navbar.html'"></div>
<div class="hero-unit" id="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1>{{location.name}}</h1>
        <p class="pull-right"> 1. Entsichern 2. Daten ändern 3. Wieder sichern. Die Daten werden nach dem Sichern
          abgespeichert.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <input type="text" class="form-control mar-top mar-btm" id="exampleInputAmount" placeholder="Suche" ng-model="textSearch" my-enter="search(textSearch)">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="col-md-6 col-sm-6 col-xs-3"><i class="fa fa-map-marker"></i> Artikel</th>
          <th class="col-md-2 hidden-sm hidden-xs"><i class="fa fa-calendar"></i> Datum</th>
          <th class="col-md-2 col-sm-2 col-xs-3"><i class="fa fa-list-ol"></i> Anzahl</th>
          <th class="col-md-2 col-sm-4 col-xs-6"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="resource in resources.resources">
          <td>{{resource.article.name}} {{$index}}</td>
          <td class="hidden-sm hidden-xs">{{resource.added | date: 'dd.mm.yyyy'}}</td>
          <td>
            <progressbar class="progress-striped" value="resource.count | percentage:resource.quota"
                         type="{{(resource.count | percentage:resource.quota) | percentageValue}}">
              {{resource.count}}/{{resource.quota}}
            </progressbar>
          </td>
          <td class="text-right">
            <button class="btn btn-primary" ng-click="minus(resource)" ng-disabled="lock"><i class="fa fa-minus"></i>
            </button>
            <button class="btn btn-primary" ng-click="lock ? lock=false : lock=true && unlock(resource)" style="min-width: 50px"><i class="fa"
                                                                                                            ng-class="lock ? 'fa-lock' : 'fa-unlock'"></i>
            </button>
            <button class="btn btn-primary" ng-click="plus(resource)" ng-disabled="lock"><i class="fa fa-plus"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
 <!-- <div class="row">
    <div class="col-lg-12 text-center">
      <pagination total-items="resources.count"
                  items-per-page="15"
                  ng-model="currentPage"
                  max-size="5"
                  ng-change="changePage()"
                  class="pagination-sm"
                  boundary-links="true"
                  previous-text="&lsaquo;"
                  next-text="&rsaquo;"
                  first-text="&laquo;"
                  last-text="&raquo;"
                  du-smooth-scroll
      >
      </pagination>
    </div>
  </div>-->

</div>
