<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <br class="row">
    <br class="col-lg-12">
      <h1>Impressum</h1>
      <br/>
      Zwergenlunch GmbH<br/>
      Karrenkamp 5-6<br/>
      38126 Braunschweig<br/>
      Telefon: 0531-609 446 8-0<br/>
      <br/>
      Geschäftsführer Martin Kreihe<br/>
      Handelsregister Braunschweig HRB 203888<br/>
      <br/>
      e-mail: kontakt(at)zwergenlunch.de<br/>
      <br/>
      Steuer-Nummer:14/213/03741<br/>
      UmsatzSt.ID: DE286589547<br/>
      EU Zulassungsnummer: DE-NI 10839-EG<br/>
      <br/>
      <br/>
      Sollten auf diesen Seiten unerwünschte Links auftauchen, so sind diese nicht autorisiert.<br/>
      Für deren Inhalte sind deren Betreiber verantwortlich.<br/>
      Es wird insbesondere keine Haftung für die Inhalte verlinkter Seiten übernommen.<br/>
      <br/>
      Gerichtsstand ist ausschließlich Braunschweig.<br/>
      <br/>
      <h4>Technische Umstzung</h4>
      <br/>
      <a href="http://www.kopfundgeist.com" target="_blank">Kopfundgeist GbR</a>
      </br>
      Franz-Liszt Str. 38</br>
      38106 Braunschweig</br>
      Tel.: +49177 3935723</br>
      </br>
      <a href="https://twitter.com/tayfuuu" target="_blank">@tayfuuu</a>
    </div>
  </div>
</div>
<div class="spacer20"></div>

<div ng-include="'components/navbar/footer.html'"></div>
