
#banner {
  margin-top: -20px;
  border-bottom: 1px solid lighten(@brand-info, 20%);
}

#banner h1 {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 10px 15px 25px;
  color: #F5F5F5;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: @brand-info;
}

.hero-icon {
  position: relative;
  bottom: 62px;
  color: white;
}

textarea {
  resize: none;
}

.panel {
  box-shadow: 0 1px 3px @gray-light;
}

.topfix {
  margin-top: 20px;
}

