<div ng-include="'components/navbar/navbar.html'"></div>
<div class="hero-unit" id="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h1>Willkommen</h1>
        <p>Im Warenwirtschaftssystem von <b>Zwergenlunch</b>.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row topfix">
    <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
      <div class="panel" ng-repeat="info in infos.infos">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center pad-all">
            <img ng-if="info.category" ng-src="assets/images/icons/{{info.category}}.svg" class="pad-lft">
          </div>

          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div class="panel-heading">
              <div class="panel-title"><h4>{{info.title}}
                <small class="text-muted pull-right">{{info.added | date: 'dd.MM.yyyy'}}</small>
              </h4></div>
            </div>
            <div class="panel-body">
              <p>{{info.infotext}}</p>
            </div>
          </div>
          </div>
        </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <pagination total-items="infos.count"
                  items-per-page="15"
                  ng-model="currentPage"
                  max-size="5"
                  ng-change="changePage()"
                  class="pagination-sm"
                  boundary-links="true"
                  previous-text="&lsaquo;"
                  next-text="&rsaquo;"
                  first-text="&laquo;"
                  last-text="&raquo;"
                  du-smooth-scroll
      >
      </pagination>
    </div>
  </div>

</div>

<div ng-include="'components/navbar/footer.html'"></div>
