<div class="modal-header">
  <button type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 class="modal-title">Ort Hinzufügen</h4>
</div>
<form method="post">
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label " for="name">
        Name des Ortes
      </label>
      <input class="form-control" id="name" name="name" type="text" ng-model="location.name" autocomplete="off"/>
    </div>
    <div class="form-group">
      <label class="control-label " for="address">
        Adresse und Hausnummer
      </label>
      <input vs-google-autocomplete="optionsAddress"
             class="form-control"
             ng-model="location.street"
             vs-street-number="location.streetNumber"
             vs-city="location.city"
             vs-post-code="location.zip"
             vs-country="location.country"
             vs-latitude="location.lat"
             vs-longitude="location.long"
             name="address"
             type="text" id="address" autocomplete="off">
    </div>
    <div class="form-group ">
      <label class="control-label " for="text3">
        Telefon
      </label>
      <input class="form-control" id="text3" name="text3" type="text" ng-model="location.phone" autocomplete="off"/>
    </div>
  </div>
  <div class="modal-footer">
    <span class="text-sm text-muted pull-left">* Pflichtfeld</span>
    <button class="btn btn-primary" ng-click="ok(location)" ng-disabled="!location.name || !location.lat || !location.long">
      Hinzufügen
    </button>
    <button class="btn btn-default" ng-click="$dismiss()">Abbrechen</button>
  </div>
</form>
