<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1> Orte
        <button class="btn btn-primary pull-right" ng-click="addLocationModal()">Ort Hinzufügen</button>
      </h1>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Suche" ng-model="textSearch" my-enter="search(textSearch)">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th class="hidden-xs">Adresse</th>
          <th>Telefon</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="location in locations.locations | filter: filter" class="cursor-pointer" ng-click="goToDetail(location)">
          <td>{{location.name}}</td>
          <td class="hidden-xs">{{location.street}}</td>
          <td><a ng-href="tel:{{location.phone}}">{{location.phone}}</a></td>
          <td><a href="https://www.google.de/maps/place/{{location.street}}/" target="_blank"
                 class="fa fa-map-marker text-info cursor-pointer text-nondecoration"></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <pagination total-items="locations.count"
                  items-per-page="15"
                  ng-model="currentPage"
                  max-size="5"
                  ng-change="changePage()"
                  class="pagination-sm"
                  boundary-links="true"
                  previous-text="&lsaquo;"
                  next-text="&rsaquo;"
                  first-text="&laquo;"
                  last-text="&raquo;"
                  du-smooth-scroll
      >
      </pagination>
    </div>
  </div>
</div>

<div ng-include="'components/navbar/footer.html'"></div>
