<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <div class="row">
    <div class="col-lg-6 col-md-6">
      <h2>{{location.name}}</h2>

      <div class="spacer20"></div>
      <label class="btn btn-primary pull-right" ng-model="editMode" btn-checkbox>Editieren</label>
      <button class="btn btn-danger pull-right mar-rgt" ng-disabled="!editMode" ng-click="delete(location.name, location)">
        Löschen
      </button>
      <div class="spacer20"></div>
      <form method="post">
        <div class="form-group">
          <label class="control-label " for="name">
            Name des Ortes
          </label>
          <input class="form-control" id="name" name="name" type="text" ng-model="location.name"
                 ng-disabled="!editMode"/>
        </div>
        <div class="form-group">
          <label class="control-label " for="address">
            Adresse und Hausnummer
          </label>
          <input vs-google-autocomplete="optionsAddress"
                 class="form-control"
                 ng-model="location.street"
                 vs-street-number="location.streetNumber"
                 vs-city="location.city"
                 vs-post-code="location.zip"
                 vs-country="location.country"
                 vs-latitude="location.lat"
                 vs-longitude="location.long"
                 name="address"
                 type="text" id="address" ng-disabled="!editMode">
        </div>
        <div class="form-group ">
          <label class="control-label " for="text3">
            Telefon
          </label>
          <input class="form-control" id="text3" name="text3" type="text" ng-model="location.phone"
                 ng-disabled="!editMode"/>
        </div>
        <div class="form-group">
          <div>
            <button class="btn btn-primary " name="submit" type="submit" ng-click="editLocation(location)"
                    ng-disabled="!editMode">
              Speichern
            </button>
          </div>
        </div>
      </form>

    </div>
    <div class="col-lg-6 col-md-6">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="false" options="options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>
  <div class="spacer20"></div>
  <div class="row">
    <div class="col-lg-12">
      <input type="text" class="form-control mar-top mar-btm" id="exampleInputAmount" placeholder="Suche" ng-model="textSearch" my-enter="search(textSearch)">
      <table class="table table-hover">
        <thead>
        <tr>
          <th><i class="fa fa-map-marker"></i> Artikel</th>
          <th><i class="fa fa-calendar"></i> Datum</th>
          <th><i class="fa fa-list-ol"></i> Anzahl</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="resource in resources.resources">
          <td><a href="articles/{{resource.article._id}}">{{resource.article.name}}</a></td>
          <td>{{resource.added | date: 'dd.MM.yyyy'}}</td>
          <td>
            <progressbar class="progress-striped" value="resource.count | percentage:resource.quota"
                         type="{{(resource.count | percentage:resource.quota) | percentageValue}}">
              {{resource.count}}/{{resource.quota}}
            </progressbar>
          </td>
          <td>
            <button class="btn btn-link"
                    ng-click="deleteResource('die ' + resource.article.name + ' zuweisung', resource)"><i
              class="fa fa-trash-o"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
